/*
body {
  background-color: #dddddd;
  font-family: Helvetica, Arial, sans-serif;
  color: #cf0c0c;
}
*/

/*
div#outer {
  padding: 0 20px 0 20px;
}
*/

/*
div#outer, div.main {
  width: 640px; 
}
*/
/* same as htmlwidth in mcmcplot.R */


/*
h1 {
  border-top: thin solid #000000;
  margin: 30px 0;
  color: #FF0000;
}
*/

/*
h2 {
  border-top: thin solid #000000;
  margin: 30px 0;
}
*/

/*
div#toc {
  position:fixed;
  left: 700px;
  top: 59px;
  width:260px;
  overflow-y:auto;
  max-height:100%;
}
*/

/*
ul#toc_items {
  -moz-column-count: 2; 
  -webkit-column-count: 2; 
  column-count: 2;
  -moz-column-gap: 10px; 
  -webkit-column-gap: 10px; 
  column-gap: 10px;
  padding: 0px;
}
*/
/* Firefox */
/* Safari and Chrome */
/* Firefox */
/* Safari and Chrome */

/*
li.toc_item {
  margin: 0 0 10px 20px;
  padding: 0px;
}
*/

/*
img.mcmcplot {
  margin: 0 0 20px 0;
}
*/

/*
p.plot_err {
  border: dashed #C91818;
  padding: 8px;
}
*/

/*
table {
  text-align: center;
  border: 1px solid;
  border-collapse: collapse;
}
*/

/*
th {
  background-color: lightgreen;
  height: 30px;
}
*/